<!DOCTYPE html>
<html lang="pt-br">

<head>
  <style>
    .container {
      width: 800px;
      font-family: Arial, Helvetica, sans-serif;
    }

    span {
      margin: 10px 0px;
      display: block;
    }

    .strong-color {
      color: #85c044;
    }

    .image-props {
      width: 230px;
      height: 100px;
    }

  </style>
</head>

<body>
  <div class="container">
    <span>Olá, 
      <strong>{{name}}</strong>
      <br />
    </span>

    <br />
    <span>Sua nova senha de acesso foi criada, senha: {{password}} </span>
    <br />
    <span>Se você deseja acessar o sistema, </span>
    <span>
      basta clicar no link abaixo ;)
      <a href={{link}}>{{link}}</a>
      <br />
    </span>

    <br/>
    <img src="https://t.cti.grupobrisanet.com.br/images/agility-telecom/logo.png" class="image-props" />
  </div>
</body>

</html>